! green theme
! foreground/background
! black
*color0 : #1F1F1F
*color8 : #032710

! red
*color1 : #FB002A
*color9 : #A7FF3F

! green
*color2 : #339C24
*color10: #9FFF6D

! yellow
*color3 : #659B25
*color11: #D2FF6D

! blue
*color4 : #149B45
*color12: #72FFB5

! magenta
*color5 : #53B82C
*color13: #50FF3E

! cyan
*color6 : #2Cb868
*color14: #22ff71

! white
*color7 : #E0FFEF
*color15: #DAEFD0

*background: #333333
*foreground: #DAEFD0
*scrollBar: false

URxvt*depth: 32
URxvt*font: xft:Liberation Mono:regular:size=10:antialiasing=true:hinting=true,xft:DejaVuSansM Nerd Font Mono:size=16
URxvt*boldFont: xft:Liberation Mono:bold:size=10:antialiasing=true:hinting=true
URxvt*termName: rxvt-256color
URxvt*tintColor: white
URxvt*transparent: true
URxvt*shading: 40
URxvt*cursorBlink: 1
URxvt*cursorShape: block
URxvt*intensifyStyles: false
